@charset "utf-8";

.bloco:hover{
    border: 2px solid rgba(245, 245, 245, 0.603);
    transform: translate(-3px, -3px);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.418);
    transition: transform 0.4s, border 0.4s}